@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .shadow-neumorphism {
    box-shadow: 8px 8px 16px var(--ojpPrimary), -8px -8px 16px var(--ojpSecondary);
  }
} */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --ojpPrimary: #97b088;
    --ojpSecondary:#003f51;

  }
}
/* filepath: /c:/Users/HP/OneDrive/Desktop/AndroTechlist/ojp-site/app/globals.css */





@font-face {
  font-family:  'Gotham Black';
  src: url(/public/GothamBlack.otf);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;

    font-family: 'Poppins', sans-serif;
    /* font-family: 'Gotham Black', sans-serif; */


}
.ojpName
{
  font-family: 'Gotham Black', sans-serif;
}
.ojpParagraph{
  font-family: 'Poppins', sans-serif;

}
.buttonDiv{
  margin-bottom: -50px;
}


.navbarLinks{
  /* display: flex; */

  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: var(--ojpPrimary);
  color: var(--ojpSecondary);
  font-size: 20px;
  /* font-weight: bold; */
  text-decoration: none;
 
}
.navbarLinksLi{
  display: inline;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  /* font-weight: bold; */
  position: relative;
  text-decoration: none;
}

.navbarLinksLi:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 90%;
  background-color: var(--ojpSecondary);
  transform: skewY(120deg); /* Adjust the angle as needed */
  transform-origin: top left;
}
.parentCont{
  margin-top: 60px;

  margin-left: auto;
  margin-right: auto;
 
}
.cont{
  
  /* justify-content: center;
  align-items: center; */
  /* padding: 20px; */
  background: var(--ojpSecondary);
  color: var(--ojpPrimary);
  font-size: 20px;
  /* font-weight: bold; */
  text-decoration: none;
  height: fit-content;
}

.mySwiper{
height: fit-content;
}


/* Custom styles for Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  
  background-color: var(--ojpPrimary); /* Add background color for better visibility */
  border-radius: 50% !important;
  border: 2px solid white;
  width: 50px !important;
  height: 50px !important;
  color: var(--ojpSecondary) !important;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}
.seeMoreBtn {
  background: var(--ojpPrimary);
  color: var(--ojpSecondary);
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: fit-content;
}
.seeMoreBtn:hover{
  background: var(--ojpSecondary);
  color: var(--ojpPrimary);
  transition: 0.5s;
}

/* .footerParent{
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
} */

@media (max-width: 640px) {
.MsnBtn{
  height: fit-content;

}
.ctnBtn{
  height: fit-content;
}
.seeMoreBtn {
  bottom: auto;
  top: 10px;
  right: 10px;
}
}
